extends layout/base

block style
  link(rel='stylesheet', href='/stylesheets/style.css')

block script
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='/javascripts/global.js')
  
block content
    section.content-header 
      h1 
        | Ana Sayfa
        small it all starts here
      ol.breadcrumb 
        li 
          a(href='#') 
            i.fa.fa-dashboard
            | Level 
        li.active Here 
      
    section.content
      p Hoş Geldiniz...
